 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>Recipe Box</title>
     <meta name="theme-color" content="#C2185B"/>
     <meta name="description" content="A simple recipe storage system.">
     <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.0/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="script.js"></script>


     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
 </head>

 <body>

   <div id="app">
     <div class="container-fluid">
       <nav class="nav">
         <div class="nav-left">
           <a class="nav-item" @click="toggleRecipeList">
             <span class="icon">
               <i id="recipe-list-toggle" class="fa fa-bars"></i>
             </span>
           </a>
           <h2 id="page-title" class="nav-item">
             Recipe Box
           </h2>
         </div>
         <div class="nav-right">
           <a class="nav-item is-pulled-right" @click='showNewRecipeWindow'>
             <span class="icon">
               <i class="fa fa-plus"></i>
             </span>
           </a>
         </div>
       </nav>
     </div>

    <menu-list extraclasses="is-hidden-desktop" :recipes="recipes" :meals="meals" @recipe-selected="selectRecipe" v-show="recipeListVisible"></menu-list>

     <div class="container-fluid">
       <div class="columns is-multiline">

         <menu-list extraclasses="column is-one-quarter is-hidden-touch" :recipes="recipes" :meals="meals" @recipe-selected="selectRecipe" v-show="recipeListVisible"></menu-list>

         <div class="column">
           <div class="recipe-body container">
             <article class="message" v-if="selectedRecipeName !== ''">
               <div class="message-header">
                 <p id="recipe-title">{{ selectedRecipeName }}  <i class="fa fa-pencil" @click="editRecipe(selectedRecipeName)"></i></p>
                 <div class="is-pulled-right">
                   <span v-for="group in selectedRecipeGroups" class="tag" :class="group" >{{ group }}</span>
                   <button id="recipe-delete" class="delete" @click="deleteRecipe"></button>
                 </div>
               </div>
               <div class="message-body">
                 <ul>
                   <li v-for="ingredient in selectedRecipeIngredients">{{ ingredient }}</li>
                 </ul>
               </div>
               <div class="message-body">
                  <p>{{ selectedRecipeInstructions }}</p>
               </div>
            </article>
          </div>
         </div>
       </div>
     </div>

     <div :class="modalOnOff" v-cloak>
       <div class="modal-background" @click="closeNewRecipeWindow"></div>
       <div class="modal-content">
         <div class="new-recipe-window">
           <label class="label">Recipe Name</label>
           <p class="control">
             <input type="text" class="input" v-model="newRecipeName">
           </p>
           <label class="label">Ingredients</label>
           <p class="control">
             <textarea type="text" class="textarea" v-model="newRecipeIngredients"></textarea>
           </p>
           <label class="label">Instructions</label>
           <p class="control">
             <textarea type="text" class="textarea" v-model="newRecipeInstructions"></textarea>
           </p>
           <label class="label">Groups</label>
           <p class="control">
             <label class="checkbox" v-for="meal in meals">
               <input type="checkbox" :value='meal' v-model="newRecipeGroups">
               {{ meal }}
             </label>
           </p>
           <div class="control is-grouped">
             <p class="control" v-show="!editing">
               <button class="button" @click="addRecipe">Add Recipe</button>
             </p>
             <p class="control" v-show="editing">
               <button class="button" @click="saveRecipeEdit">Update Recipe</button>
             </p>
             <p class="control">
               <button class="button" @click="closeNewRecipeWindow">Cancel</button>
             </p>
           </div>
         </div>
       </div>
     </div>
   </div>

 </body>

 </html>
