$title-font-size: 1.5rem;
$primary-color: #E91E63;
$dark-primary-color: #C2185B;
$secondary-color: #F8BBD0;
$white: #FFFFFF;
$divider-color: #BDBDBD;
$breakfast: #EFCB68;
$lunch: #A4BFEB;
$dinner: #DA4167;
$snack: #44CF6C;

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

html, body {
  background-color: $secondary-color;
  height: 100vh;
  overflow-x: hidden;
  padding: 0px;
  width: 100%;
}

// Navigation
.nav {
  background-color: $primary-color;
  box-shadow: 0px 4px 2px -2px grey;
  z-index: 1;
  .nav-item {
    color: $white;
  }
  #page-title {
    font-size: $title-font-size;
  }
}

#filter-controls {
  background-color: $white;
  border-radius: 10px;
  color: black;
  margin: 10px;
  padding: 5px;
  width: 90%;
  .checkbox {
    margin: 5px;
    display: block;
  }
}


// Recipe List
.menu-list {
  background-color: $secondary-color;
  min-width: 200px;
  height: 100%;
  a {
    color: $white;
    font-size: 16px;
    font-weight: bold;
    max-width: 250px;
    overflow: hidden;
  }
  li {
    border-bottom: 1px solid $divider-color;
    padding: 4px;
    color: $white;
  }
  #filter-list-item {
    background-color: tint($primary-color, 30);
  }
}

// Recipe Display Box
.message {
  .breakfast {
    background-color: $breakfast;
  }
  .lunch {
    background-color: $lunch;
  }
  .dinner {
    background-color: $dinner;
  }
  .snack {
    background-color: $snack;
  }
  .message-header {
    background-color: $dark-primary-color;
    color: $white;
    font-size: $title-font-size * 0.75;
  }
  .tag {
    margin: 10px 3px;
  }
  #recipe-delete {
    margin: 10px 3px;
  }
}

.recipe-body {
  padding: 20px;
}

// AddRecipe Modal
.new-recipe-window {
  background-color: white;
  padding: 10px;
  #add-recipe-button {
    border: none;
    width: 100%;
  }
}

// Smartphone Display-Specific
@media screen and (max-width: 1000px) {
  .nav-right {
    .nav-item {
      padding-top: 17.5px;
      padding-bottom: 17.5px;
    }
  }

  .menu-list {
    border-right: 1px solid $divider-color;
    position: absolute;
    z-index: 1;
    height: 90%;
  }

  // Miscellaneous

}

[v-cloak] {
  display: none;
}
